body {
  background: #fff;
  background-image: url('./assets/background.svg');
}

header {
  text-align: center;
}

.foto {
  text-align: center;
  position: relative;
}

a {
  text-align: center;
}

img {
  margin: auto;
}

.info {
  display: none;
}